

<div class="row">
<div class="col-lg-2">
    <h1>nav coloumn here</h1></br>
    <a ui-sref="usermain">dashboard</a></br>
    <a ui-sref="">profile</a></br>
    <a ui-sref="postask">post requirements</a></br>
    <a ui-sref="">messages</a></br>
    <a href="" ng-click="profilectrl.logout()">logout<a></br>
</div>

<div class="col-lg-9">
    <h1> profile page</h1>

<!--<h3>profile</h3>-->

<h2>hello {{profilectrl.username}}!</h2></br>


<h5>Userid: {{profilectrl.uid}}</h5>
<h5>Username: {{profilectrl.username}}</h5>
<h5>Email: {{profilectrl.email}}</h5>

<h3>you may change your public profile name below.</h3></br>
<h5>By default your username is your profilename but if you wish to have an alternative name for agents to know who you are, you can set your profile name here.</h5>


<form ng-submit="profilectrl.save()" novalidate>
    <div class="form-group">
        <label for="profilename">profile name</label>
        <input type="text" name="profilename" id="profilename" class="form-control" value="{{profilectrl.username}}" ng-model="profilectrl.username">
    </div>

    <!--<div class="form-group">
        <label for="brandname">Brand</label>
        <input type="text" name="brandname" id="brandname" class="form-control" value="{{editCtrl.ToBeEdited.brand}}" ng-model="editCtrl.ToBeEdited.brand">
    </div>-->

    <div class="form-group">
        <button class="btn btn-success form-control" type="submit">Save</button>
    </div>
     <div ng-show="">
        <h3>This entry has been edited successfully.</h3>
                    </div>

</form>

  <div class="form-group">
        <button class="btn btn-success form-control" type="submit" ng-click="">Go Back</button>
    </div>

    <!--<div class="form-group">
        <button class="btn btn-success form-control" type="submit" ng-change="editCtrl.cx()">Go Back</button>
    </div>-->

</div>


</div>