<!--<h1>Hi welcome dear user</h1>
<h2>you have signed in successfully</h2>-->




<div class="row">
<div class="col-lg-2">
    <h1>nav coloumn here</h1></br>
    <a ui-sref="">dashboard</a></br>
    <a ui-sref="profile">profile</a></br>
    <a ui-sref="postask">post requirements</a></br>
    <a ui-sref="">messages</a></br>
    <a href="" ng-click="umainctrl.logout()">logout<a></br>
</div>

<div class="col-lg-9">
    <div class="container">
    <div class="row">
        <div class="col-lg-7">
            <!--<h1>hello world </h1>-->

            </br>
            </br>
            <div class="panel panel-default">
                <div class="panel-heading">Robin's Asking</div>
                <div class="panel-body">
                    Panel content - Details of Ask here

                    </br>
                <!--<button input id="submit" name="submit" type="submit" class="btn btn-primary">close</button>-->

                </div>
            </div>


            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">From our Agents</div>
                <div class="panel-body">
                    <p>click on the response from agents below for thier recommendations</p>
                </div>

                <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item">William</li>
                    <li class="list-group-item">Chantel</li>
                    <li class="list-group-item">Eric Teo</li>
                    <li class="list-group-item">John Sim</li>
                    <li class="list-group-item">Daryl Lim</li>
                </ul>
            </div>




        </div>
    </div>
</div>


</div>


</div>